//! In Bootstrap : always import functions before variables ... otherwise some features won't work
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";



$gray:#201F24;
$bright:#EEEEEE;




$red: #ce0f12;
$grey-bg: #868184;

