//! In Bootstrap : always import functions before variables ... otherwise some features won't work
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";



$gray:#201F24;
$bright:#EEEEEE;




$red: #ce0f12;
$grey-bg: #868184;




$spacer : 1rem ;

$custom-spacers : (
    6 : $spacer*6 ,
    7 : $spacer*7 ,
    8 : $spacer*10 ,
);

//& Fusionner et écrire nos valeurs d'espacement :
$spacers : map-merge($spacers , $custom-spacers );

