*,*:before,*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    font-size: 35px;
    margin-left: 40px;
    .point{
        color: #cc1111;
    }
}
.nav-1 {
    width: 55vw;
    .link-nav {
        width: 50vw;
        color:#868184;
    }
}
.nav-item:hover {
    color: black;
    border-bottom: 2px solid #ce0f12;
}
.drop-1 {
    text-decoration: none;
    color: black;
}

// .nav-link:hover{
//     color: black;
//     text-decoration: underline red;
// }

.dropdown {
    position: relative;
    display: inline-block;

    a {
        text-decoration: none;
        color: black;
    }
    
}
.dropdown:hover{
    color: black;
    text-decoration: underline red;
}
.dropdown:hover {
    color: black;
    border-bottom:2px solid red;
    // text-decoration: underline red;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.conx {
    color: white;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #cc1111;

}
@media (max-width:769px){
    .logo{
        font-size: 24px;
        margin-left: 0;
    }
    .conx{
        margin-right: 5px;
        width: 100px;
    }
}
@media (min-width:375px) and (max-width:426px){
    .logo{
        font-size: 28px;
        margin-left: 0;
    }
    .conx{
        margin-right: 5px;
        width: 120px;
    }

}