//^ section 1 /////////////////////////////////////////////////////////////////
.section-1{
    height: 80vh;
    width: 100%;
    background-color: #EEEEEE;
    .text-1{
        padding-top: 80px;
        width: 40%;
        margin-right: 20px;

        .font{
            width: 70%;
            font-size: 60px;
            font-family: "amatic";
        }
    }

}
.video{
    text-decoration: none;
    color: black;
}
.video:hover{
    color: red;
}

.section-x{
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
        height:500px;
    }
}
//& tablet section 1//////////////////////////////////////////////////////////
@media (max-width:769px) {
    .section-1{
        height: 140vh;
        width: 100%;
        .section-x{
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
            img{
                height:450px;
            }
        }
        
        .text-1{
            width: 80%;
            text-align: center;
            margin-right: 10px;
            .font-amtc{
                text-align: center;
                margin-left: 50px;
                background-color: aqua;
            }
        }
    }
    .sct1-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
}
//? mobil 1 /////////////////////////////////////////////////////////////////
@media (min-width:375px) and (max-width:426px){
        .section-1{
            height: 120vh;
            width: 100%;
            .section-x{
                display: flex;
                flex-direction: column-reverse;
                text-align: center;
                img{
                    height:370px;
                }
            }
            .text-1{
                width: 100%;
                text-align: center;
                margin-right: 10px;
                .font{
                    text-align: center;
                    font-size: 38px;
                    margin-left: 65px;
                    background-color: aqua;
                }
                .text-1-center{
                    text-align: center;
                    margin-left: 20px;
                    width: 90%;
                }
            }
        }
        .sct1-btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    }


    .sct1-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

//^ section 2///////////////////////////////////////////////////////////////
.section-2{
    height: 100vh;
    margin-top: 5rem;
    position: relative;

    .font-2{
        font-family: "amatic";
        color: black;
    }
    .titre-2{
        color: #868184;
    }
    .about-img{
        height:87vh ;
        width:50vw ;
    }
    .number{
        position: absolute;
        background-color: white;
        height: 13vh;
        width: 450PX;
        right: 55%;
        top: 66%;
        text-align: center;
        padding-top: 20px;
    }
    .text-2{
        width: 30vw;
        height: 45vh;
    }
    .video-2{
        width: 30vw;
        height: 40vh;
        background-color: aqua;
    }
    // .image-2{
    //     background-image: url(../images/about.jpg);
    // }
    .i-1{
        margin-top: 10px;
        margin-bottom: 38px;
    }
    .i-2{
        margin-bottom: 38px;
    }

}
//& tablet section 2//////////////////////////////////////////////////////////
@media (max-width:769px){
    .section-2{
        height: 200vh;
        margin-top: 5rem;
        text-align: center;
        position: relative;
        .about-img{
            height:60vh ;
            width:90% ;
        }
        .number{
            position: absolute;
            background-color: white;
            height: 13vh;
            width: 450PX;
            right: 20%;
            top: 25%;
            text-align: center;
            padding-top: 20px;
        }
        .text-2{
            text-align: start;
            height: 45vh;
            width: 90%;
            position: absolute;
            margin-left: 37px;   
            margin-top: 10px;    
        }
        .video-2{
            height:60vh ;
            width:100% ;
            background-color: aqua;
            margin: auto;
            margin-top: 25px;
        }
        .i-1{
            margin-top: 10px;
            margin-bottom: 40px;
        }
        .i-2{
            margin-bottom: 40px;

        }
    
    }
}
//? mobil 2 /////////////////////////////////////////////////////////////////
@media (min-width:375px) and (max-width:426px){
    .section-2{
        height: 215vh;
        margin-top: 5rem;
        text-align: center;
        position: relative;
        .font-2{
            font-size: 40px;
            margin-bottom: 30px;
        }
        .about-img{
            height:80vh ;
            width:100% ;
        }
        .number{
            position: absolute;
            background-color: white;
            height: 13vh;
            width: 350PX;
            right: 10%;
            top: 30%;
            text-align: center;
            padding-top: 20px;
        }
        .text-2{
            text-align: start;
            height:80vh ;
            width:90% ;
            margin-left: 10px;
            .i-1{
                margin-top: 10px;
                margin-bottom:50px;
            }
            .i-2{
                margin-bottom: 50px;
            }
        }
        .video-2{
            height:40vh ;
            background-color: aqua;
            margin: auto;
            margin-top: 25px;
        }
    
    }

}



