//^ section 1 /////////////////////////////////////////////////////////////////
.section-1 {
    height: 80vh;
    width: 100%;
    background-color: #EEEEEE;

    .section-x {
        .text-1 {
            padding-top: 80px;
            width: 40%;
            margin-right: 20px;
            text-align: start;

            .font {
                width: 80%;
                font-size: 60px;
                font-family: "amatic_bld";
                margin-left: 0;
            }

            .text-1-center {
                font-size: 18px;
                color: #868184;
            }
        }
    }

}

.video {
    text-decoration: none;
    color: #515050;
}

.video:hover {
    color: red;
}

.section-x {
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        height: 500px;
    }

    .sct1-btn {
        width: 68%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .conx {
            width: 150px;
            height: 45px;
            font-size: 14px;
            border-radius: 40px;
            background-color: #cc1111;
        }
    }
}

//& tablet section 1//////////////////////////////////////////////////////////
@media (max-width:769px) {
    .section-1 {
        height: 135vh;
        width: 100%;

        .section-x {
            display: flex;
            flex-direction: column-reverse;
            text-align: start;

            .text-1 {
                width: 90%;
                height: 50vh;
                text-align: start;
                margin-left: 30px;
                padding-top: 20px;

                .font {
                    width: 60%;
                    text-align: center;
                    margin-left: 135px;
                    font-size: 50px;
                }

                .text-1-center {
                    text-align: center;
                }
            }
        }

        .sct1-btn {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}

//? mobil 1 /////////////////////////////////////////////////////////////////
@media (min-width:375px) and (max-width:426px) {
    .section-1 {
        height: 115vh;
        width: 100%;

        .section-x {
            display: flex;
            flex-direction: column-reverse;
            text-align: center;

            .text-1 {
                width: 95%;
                height: 50vh;
                text-align: center;
                margin-right: 30px;
                padding-top: 20px;

                .font {
                    text-align: center;
                    font-size: 38px;
                    margin-left: 80px;
                    background-color: aqua;
                }

                .text-1-center {
                    text-align: center;
                    margin-left: 10px;
                    width: 95%;
                    font-size: 16px;
                }
            }

            img {
                height: 370px;
            }
        }

        .sct1-btn {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 80%;
            margin-left: 40px;
        }
    }


}


//^ section 2///////////////////////////////////////////////////////////////
.section-2 {
    height: 100vh;
    margin-top: 5rem;
    position: relative;

    .font-2 {
        font-family: "amatic";
        font-size: 68px;
        color: black;
    }

    .titre-2 {
        color: #868184;
        font-size: 20px;
    }

    .about-img {
        height: 87vh;
        width: 50vw;
    }

    .number {
        position: absolute;
        background-color: white;
        height: 18vh;
        width: 600px;
        right: 48%;
        top: 66%;
        text-align: center;
        padding-top: 20px;

        h3 {
            font-weight: 700;
        }

        h2 {
            font-weight: 700;
        }
    }

    .text-2 {
        width: 30vw;
        height: 45vh;
    }

    .video-2 {
        width: 30vw;
        height: 40vh;
        background-color: aqua;
    }

    .i-1 {
        margin-top: 10px;
        margin-bottom: 38px;
    }

    .i-2 {
        margin-bottom: 38px;
    }

}

//& tablet section 2//////////////////////////////////////////////////////////
@media (max-width:769px) {
    .section-2 {
        height: 200vh;
        margin-top: 5rem;
        text-align: center;
        position: relative;

        .font-2 {
            font-size: 50px;
        }

        .about-img {
            height: 60vh;
            width: 90%;
        }

        .number {
            position: absolute;
            height: 16vh;
            width: 450PX;
            right: 20%;
            top: 25%;
            text-align: center;
            padding-top: 20px;
        }

        .text-2 {
            text-align: start;
            height: 45vh;
            width: 90%;
            position: absolute;
            margin-left: 37px;
            margin-top: 10px;
        }

        .video-2 {
            height: 60vh;
            width: 100%;
            background-color: aqua;
            margin: auto;
            margin-top: 25px;
        }

        .i-1 {
            margin-top: 10px;
            margin-bottom: 40px;
        }

        .i-2 {
            margin-bottom: 40px;

        }

    }
}

//? mobil 2 /////////////////////////////////////////////////////////////////
@media (min-width:375px) and (max-width:426px) {
    .section-2 {
        height: 215vh;
        margin-top: 5rem;
        text-align: center;
        position: relative;

        .font-2 {
            font-size: 40px;
            margin-bottom: 30px;
        }

        .about-img {
            height: 80vh;
            width: 100%;
        }

        .number {
            position: absolute;
            background-color: white;
            height: 13vh;
            width: 350PX;
            right: 10%;
            top: 30%;
            text-align: center;
            padding-top: 20px;
        }

        .text-2 {
            text-align: start;
            height: 80vh;
            width: 90%;
            margin-left: 5%;

            .i-1 {
                margin-top: 10px;
                margin-bottom: 50px;
            }

            .i-2 {
                margin-bottom: 50px;
            }
        }

        .video-2 {
            height: 40vh;
            background-color: aqua;
            margin: auto;
            margin-top: 25px;
        }

    }

}

//^ section 3///////////////////////////////////////////////////////////////
// .section-3{
//     width: 100%;
//     background-color: #EEEEEE;

//     .cards-3{
//         width: 90%;
//         margin-left: 70px;
//         height: 60vh;
//         .card-1{
//             width:22vw ;
//             height: 70%;
//             padding: 15px;
//         }
//         .card-2{
//             background-color: white;
//             width: 18vw;
//             height: 35vh;
//             padding: 10px;
//             .icons-3{
//                 padding-top: 10px;
//                 margin-left: 110px;
//                 width: 40px;
//                 height: 40px;
//                 background-color: pink;
//                 text-align: center;
//                 border-radius: 20px;
//                 i{
//                     margin-bottom: 10px;
//                 }
//             }
//             p{
//                 color: #a6a4a4;
//             }
//         }
//     }
//     .card-2:hover{
//         width:22vw ;
//         height: 70%;
//         i{
//             margin-bottom: 10px;
//         }
//     }
// }


.section3 {
    max-width: 100vw;
    height: 70vh;
    background-color: #eeeeee;

    .cartes {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        width: 100vw;

        .carterouge {
            height: 480px;
            background-color: #cc1111;
            color: white;
            font-size: 19px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;


            .btn {
                width: 200px;
                height: 100px;

                .btn_learn {
                    border-radius: 20px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 22px;
                    background-color: #dc5859;
                    color: white;
                    border: none;
                }

                :hover {
                    background-color: white;
                    color: #cc1111;
                }
            }
        }

        .all {
            .carte1 {
                width: 290px;
                height: 400px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: white;
                font-size: 18px;

                .cercle {
                    border-radius: 60px;
                    background-color: #dc585844;
                    width: 100px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .fa-envelope {
                        font-size: 46px;
                        color: #cc1111;
                    }
                }

            }

            :hover {
                transform: scale(1.1);
                font-size: normal;
            }
        }

        .all {
            .carte2 {
                width: 290px;
                height: 400px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: white;
                font-size: 18px;

                .cercle {
                    border-radius: 60px;
                    background-color: #dc585844;
                    width: 100px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .fa-gem {
                        font-size: 46px;
                        color: #cc1111;
                    }
                }
            }

        }

        .all {

            .carte3 {
                width: 290px;
                height: 400px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: white;
                font-size: 18px;

                .cercle {
                    border-radius: 60px;
                    background-color: #dc585844;
                    width: 100px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .fa-clipboard {
                        font-size: 46px;
                        color: #cc1111;
                    }

                }


            }
        }
    }
}

// &tablet //////////////////////////////////////////////////////////////////
@media screen and (min-width: 766px) and (max-width: 1024px) {

    .section3 {
        max-width: 100vw;
        height: 200vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 90px;

        .cartes {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: -0px;

            .carterouge {
                height: 280px;
                background-color: #cc1111;
                color: white;
                font-size: 19px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-bottom: 50px;

                .btn {
                    width: 200px;
                    height: 100px;

                    .btn_learn {
                        border-radius: 20px;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 22px;
                        background-color: #dc5859;
                        color: white;
                        border: none;
                    }

                    :hover {
                        background-color: white;
                        color: #cc1111;
                    }
                }
            }

            .all {
                .carte1 {
                    width: 650px;
                    height: 240px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: white;
                    font-size: 18px;
                    gap: 17px;
                    margin-top: 10px;
                    margin-bottom: 70px;

                    .cercle {

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 90px;

                        .fa-envelope {
                            height: 13vh;
                            font-size: 34px;
                            color: #cc1111;
                            border-radius: 60px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                }

                :hover {
                    transform: scale(1.1);
                    font-size: normal;
                }
            }

            .all {
                .carte2 {
                    width: 650px;
                    height: 240px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: white;
                    font-size: 18px;
                    gap: 17px;
                    margin-top: -20px;
                    margin-bottom: 70px;

                    .cercle {
                        border-radius: 60px;
                        background-color: #dc585844;
                        width: 100px;
                        height: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 90px;

                        .fa-gem {
                            height: 13vh;
                            font-size: 46px;
                            color: #cc1111;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                }

                :hover {
                    transform: scale(1.1);
                    font-size: normal;
                }
            }

            .all {
                .carte3 {
                    width: 650px;
                    height: 240px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: white;
                    font-size: 18px;
                    gap: 17px;
                    margin-top: -20px;
                    margin-bottom: 70px;

                    .cercle {
                        border-radius: 60px;
                        background-color: #dc585844;
                        width: 100px;
                        height: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 90px;

                        .fa-clipboard {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 13vh;
                            font-size: 46px;
                            color: #cc1111;
                        }
                    }

                }

                :hover {
                    transform: scale(1.1);
                    font-size: normal;
                }
            }
        }
    }
}

// ?mobile/////////////////////////////////////////////////////////////////////
@media screen and (min-width: 374px) and (max-width: 426px) {
    .section3 {
        max-width: 100vw;
        height: 280vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 90px;

        .cartes {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: -10px;

            .carterouge {
                width: 360px;
                height: 380px;
                background-color: #cc1111;
                color: white;
                font-size: 17px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-bottom: 50px;

                .btn {
                    width: 200px;
                    height: 100px;

                    .btn_learn {
                        border-radius: 20px;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 22px;
                        background-color: #dc5859;
                        color: white;
                        border: none;
                    }

                    :hover {
                        background-color: white;
                        color: #cc1111;
                    }
                }
            }

            .all {
                .carte1 {
                    width: 360px;
                    height: 250px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: white;
                    font-size: 14px;
                    gap: 7px;
                    margin-top: -10px;
                    margin-bottom: 70px;
                    padding-bottom: 20px;
                    padding-top: 70px;

                    .cercle {

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 90px;

                        .fa-envelope {
                            font-size: 34px;
                            color: #cc1111;
                            border-radius: 60px;
                            height: 90px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    h5 {
                        font-size: 17px;
                    }

                }

                :hover {
                    transform: scale(1.1);
                    font-size: normal;
                }
            }

            .all {
                .carte2 {
                    width: 360px;
                    height: 250px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: white;
                    font-size: 14px;
                    gap: 7px;
                    margin-top: -50px;
                    margin-bottom: 70px;
                    padding-bottom: 20px;
                    padding-top: 70px;

                    .cercle {

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 90px;

                        .fa-gem {
                            font-size: 34px;
                            color: #cc1111;
                            border-radius: 60px;
                            height: 90px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    h5 {
                        font-size: 17px;
                    }

                }

                :hover {
                    transform: scale(1.1);
                    font-size: normal;
                }
            }

            .all {
                .carte3 {
                    width: 360px;
                    height: 250px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: white;
                    font-size: 14px;
                    gap: 7px;
                    margin-top: -50px;
                    margin-bottom: 40px;
                    padding-bottom: 20px;
                    padding-top: 20px;

                    .cercle {

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 90px;

                        .fa-clipboard {
                            font-size: 34px;
                            color: #cc1111;
                            border-radius: 60px;
                            height: 90px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                }

                :hover {
                    transform: scale(1.1);
                    font-size: normal;
                }
            }
        }

        h5 {
            font-size: 17px;
        }
    }

}

//^ section 4//////////////////////////////////////////////////////////////////////////
.section-4 {
    width: 100%;
    height: 90vh;
    text-align: center;
    background-image: url(../images/stats-bg.jpg);
    background-color: rgba(26, 25, 25, 0.596);
    background-blend-mode: darken;
    background-position: center;
    background-attachment: fixed;

    .client {
        height: 45vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;

        p {
            font-size: 45px;
            font-weight: bolder;
        }

        h6 {
            color: #a6a4a4;
        }

        .client-1 {
            width: 32%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .div-blanc {
        height: 45vh;
        width: 100%;
    }
}

//& tablet section 4 //////////////////////////////////////////////////////////
@media (max-width:769px) {
    .section-4 {
        height: 66vh;
        background-size: 120%;
        background-repeat: no-repeat;
        background-attachment: local;

        .client {
            display: block;
            justify-content: space-between;
            align-items: center;
            height: 66vh;
            width: 75%;
            padding: 80px;
            margin-left: 77px;

            .client-1 {
                width: 100%;
                margin: auto;
                margin-bottom: 30px;

                .clt {
                    margin-top: 20px;
                    text-align: center;

                    p {
                        font-size: 40px;
                    }
                }
            }
        }
    }

    .div-blanc {
        height: 0vh;
    }
}

//? mobil 4 /////////////////////////////////////////////////////////////////
@media (min-width:375px) and (max-width:426px) {
    .section-4 {
        height: 110vh;
        background-size: 360%;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: local;

        .client {
            margin: auto;

            .client-1 {
                .clt {
                    margin-bottom: 90px;

                    p {
                        font-size: 35px;
                        margin: 0;
                    }
                }
            }
        }

        .div-blanc {
            height: 0vh;
        }
    }
}

//^ section 7///////////////////////////////////////////////////////////////
.section-7 {
    background-color: #EEEEEE;
    height: 110vh;
    padding-top: 50px;

    .titre-7 {
        color: #868184;
        font-size: 20px;

        .font-7 {
            font-family: "amatic";
            font-size: 68px;
            color: black;

            .clr-7 {
                color: #cc1111;
            }
        }
    }

    .cards-7 {
        width: 90%;
        margin-left: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-flow: wrap;

        .card-7 {
            height: 80vh;
            width: 32%;
            border-radius: 5px;
            background-color: white;

            img {
                height: 70%;
                width: 100%;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            p {
                color: #c6c3c3;
            }

            .para-7 {
                width: 90%;
                margin-left: 20px;
            }
        }
    }
}

//& tablet section 7 //////////////////////////////////////////////////////////
@media (max-width:769px) {
    .section-7 {
        height: 190vh;

        .titre-7 {
            .font-7 {
                font-size: 50px;
            }
        }

        .cards-7 {
            width: 95%;
            height: 155vh;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-flow: wrap;
            margin-left: 20px;

            .card-7 {
                height: 72vh;
                width: 48%;

                img {
                    height: 60%;
                    width: 100%;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
            }
        }
    }
}

//? mobil 7 /////////////////////////////////////////////////////////////////
@media (min-width:375px) and (max-width:426px) {
    .section-7 {
        height: 275vh;

        .titre-7 {
            .font-7 {
                font-size: 44px;
            }
        }

        .cards-7 {
            display: block;
            justify-content: center;
            align-items: center;
            height: 250vh;
            width: 90%;

            .card-7 {
                height: 78vh;
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }
}

//^ section 8 //////////////////////////////////////////////////////
.section8 {
    width: 100vw;
    height: 100vh;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 50px;

    .para8 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .p1 {
            color: #868184;
            font-size: 20px;
        }

        .mince {
            font-family: "amatic";
            font-size: 68px;

            span {
                color: #cc1111;
            }
        }
    }

    .alls8 {
        width: 100%;
        height: 65vh;
        display: flex;
        background-color: #f7f7f7;
        gap: 30px;

        // justify-content: center;
        // align-items: center;
        .imgs8 {
            width: 570px;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .formulaire {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            width: 80%;
            background-color: #f7f7f7;

            .input1 {
                width: 100%;
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                input {
                    border-radius: 1px;
                    border: 1px solid #979595;
                    height: 4vh;
                    font-size: 16px;
                    padding: 10px;
                    flex-wrap: wrap;
                    width: 30%;
                    height: 40%;
                }
            }
            .txtarea{
                border-radius: 1px;
                border: 1px solid #979595;
            }
            .btns8 {
                margin-top: 5px;
                .btn8 {
                    font-size: 20px;
                    border-radius: 30px;
                    border: none;
                    width: 190px;
                    height: 50px;
                    color: white;
                    background-color: #cc1111;
                }
                .btns8:hover {
                    background-color: #cc1111ee;
                }
            }
        }
    }
}

//& section 8 tablette //////////////////////////////////////////////
@media (min-width:766px) and (max-width:900px) {
    .section8 {
        width: 100vw;
        height: 180vh;
        background-color: white;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 50px;
        padding-bottom: 50px;

        .para8 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .p1 {
                color: #868184;
                font-size: 24px;
            }

            .mince {
                font-family: "amatic";
                font-size: 50px;

                span {
                    color: #cc1111;
                }
            }
        }

        .alls8 {
            width: 80%;
            height: 50vh;
            display: flex;
            background-color: #f7f7f7;
            gap: 30px;
            display: flex;
            flex-direction: column;

            // justify-content: center;
            // align-items: center;
            .imgs8 {

                width: 640px;
                height: 490px;

                img {

                    width: 100%;
                    height: 100%;
                }
            }

            .formulaire {
                display: flex;
                align-items: center;
                margin: auto;
                justify-content: space-between;
                flex-direction: column;
                width: 83vw;
                height: 80vh;
                background-color: #f7f7f7;
                gap: 28px;
                margin-top: -29px;
                padding-top: 30px;
                padding-bottom: 30px;

                .input1 {
                    width: 100%;
                    display: flex;
                    gap: 20px;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;

                    input {
                        border-radius: 1px;
                        border: 1px solid #979595;
                        height: 6vh;
                        font-size: 16px;
                        flex-wrap: wrap;
                        width: 40%;
                    }
                }

                .btns8 {
                    .btn8 {
                        font-size: 18px;
                        border-radius: 30px;
                        border: none;
                        width: 180px;
                        height: 45px;
                        color: white;
                        background-color: #cc1111;
                    }
                }

                .txtarea {
                    border-radius: 1px;
                    border: 1px solid #979595;
                    width: 530px;
                    font-size: 18px;
                    height: 130px;
                }
            }
        }
    }
}

//?mobil section 8//////////////////////////////////////////////////
@media (min-width:375px) and (max-width:426px) {
    .section8 {
        width: 100vw;
        height: 180vh;
        background-color: white;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 50px;
        padding-bottom: 50px;

        .para8 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .p1 {
                color: #868184;
                font-size: 24px;
            }

            .mince {
                font-family: "amatic";
                font-size: 40px;

                span {
                    color: #cc1111;
                }
            }
        }

        .alls8 {
            width: 80%;
            height: 50vh;
            display: flex;
            background-color: #f7f7f7;
            gap: 30px;
            display: flex;
            flex-direction: column;

            .imgs8 {

                width: 300px;
                height: 300px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .formulaire {
                display: flex;
                align-items: center;
                margin: auto;
                justify-content: space-between;
                flex-direction: column;
                width: 80vw;
                height: 200vh;
                background-color: #f7f7f7;
                gap: 28px;
                margin-top: -29px;
                padding-top: 30px;
                padding-bottom: 30px;

                .input1 {
                    width: 100%;
                    display: flex;
                    gap: 20px;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;

                    input {
                        border-radius: 1px;
                        border: 1px solid #979595;
                        height: 6vh;
                        font-size: 15px;
                        flex-wrap: wrap;
                        width: 80%;
                    }
                }

                .btns8 {
                    .btn8 {
                        font-size: 17px;
                        border-radius: 16px;
                        border: none;
                        width: 180px;
                        height: 40px;
                        color: white;
                        background-color: #cc1111;
                    }
                }

                .txtarea {
                    width: 240px;
                    font-size: 15px;
                    height: 130px;
                }
            }
        }
    }
}

//^ section 10 ///////////////////////////////////////////////////////
.section-10 {
    height: 180vh;
    padding-top: 50px;
    background-color: #f7f7f7;

    .titre-10 {
        color: #868184;

        .font-10 {
            font-family: "amatic";
            color: black;
            font-size: 55px;

            .clr {
                color: #cc1111;
            }
        }
    }

    .map-contact {

        .maps {
            height: 45vh;
            width: 90%;
            margin-left: 70px;

            iframe {
                height: 100%;
                width: 100%;
            }
        }

        .contact-us {
            height: 20vh;
            width: 90%;
            margin-top: 20px;
            margin-left: 70px;

            .div-1 {
                background-color: #EEEEEE;
                height: 15vh;
                width: 49%;
                display: flex;
                justify-content: start;
                align-items: center;

                .icon-10 {
                    width: 70px;
                    height: 70px;
                    background-color: #cc1111;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    margin-left: 30px;
                }

                .contenu-10 {
                    margin-top: 15px;
                    margin-left: 20px;

                    h4 {
                        color: #868184;
                    }

                    .font-para {
                        font-size: 18px;
                    }
                }
            }
        }

        .message-1 {
            width: 90%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 70px;
            margin-top: 15px;
            box-shadow: 5px 10px 20px 10px #e0dddd;
        }

        .message {
            height: 60vh;
            width: 90%;
            padding-top: 30px;
            input{
                border-radius: 1px;
                border: 1px solid #979595;
            }

            .input-1 {
                width: 48%;
                height: 8vh;
                margin-bottom: 15px;
                padding: 10px;

            }

            .in-2 {
                margin-left: 42px;
            }

            .input-2 {
                width: 100%;
                height: 8vh;
                margin-bottom: 15px;
                padding: 10px;
            }

            .input-3 {
                width: 100%;
                height: 20vh;
                padding: 10px;
                border-radius: 1px;
                border: 1px solid #979595;
            }
        }

        .div-btn {
            display: flex;
            justify-content: center;
            align-items: center;

            .sendbtn {
                color: white;
                width: 180px;
                height: 50px;
                border: none;
                border-radius: 30px;
                background-color: #cc1111;
            }
        }
    }
}

//& tablet section 10 //////////////////////////////////////////////////////////
@media (min-width:766px) and (max-width:900px) {
    .section-10 {
        height: 210vh;

        .map-contact {
            margin-left: 0px;

            .maps {
                margin-left: 40px;

                iframe {
                    height: 100%;
                    width: 100%;
                }
            }

            .contact-us {
                width: 90%;
                height: 20vh;
                margin-left: 40px;

                .div-1 {
                    height: 20vh;

                    .contenu-10 {
                        h4 {
                            font-size: 20px;
                        }

                        p {
                            font-size: 13px;
                        }

                        .font-para {
                            font-size: 14px;

                        }
                    }
                }
            }

            .message-1 {
                margin-left: 40px;

                height: 80vh;

                .message {
                    .input-1 {
                        width: 100%;
                    }

                    .in-2 {
                        margin-left: 0;
                    }

                    .div-btn {
                        padding-top: 15px;
                    }
                }
            }
        }
    }
}

//?mobil section 10//////////////////////////////////////////////////
@media (min-width:375px) and (max-width:426px) {
    .section-10 {
        height: 240vh;

        .titre-10 {
            font-size: 16px;

            .font-10 {
                font-size: 30px;
            }
        }

        .map-contact {
            margin-left: 0;

            .maps {
                height: 45vh;
                width: 90%;
                margin-left: 22px;

                iframe {
                    height: 100%;
                    width: 100%;
                }
            }

            .contact-us {
                height: 40vh;
                margin-left: 22px;

                .div-1 {
                    height: 20vh;
                    width: 100%;
                    margin-top: 10px;
                    font-size: 16px;

                    .contenu-10 {
                        h4 {
                            font-size: 22px;
                        }

                        p {
                            font-size: 13px;
                        }

                        .font-para {
                            font-size: 15px;

                        }
                    }

                }
            }

            .message-1 {
                height: 75vh;
                margin-left: 22px;
                box-shadow: none;

                .message {
                    .input-1 {
                        width: 100%;
                    }

                    .in-2 {
                        margin-left: 0;
                    }

                    .div-btn {
                        padding-top: 15px;
                    }
                }
            }
        }

    }
}

//^ footre ////////////////////////////////////////////////////
.footer {

    width: 100vw;
    height: 50vh;
    background-color: #e4dcf4;
    background-color: #201f24;

    .footer-all {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 80px;

        .adresse {
            display: flex;
            gap: 10px;

            .ligne1 {

                i {
                    font-size: 30px;
                    color: #aba8ac;

                }
            }

            .p {
                display: flex;
                flex-direction: column;
                width: 280px;
                height: 160px;
                font-size: 22px;
                color: #aba8ac;
                font-weight: 600;

                h5 {
                    font-size: 26px;
                    color: white;
                    font-weight: bold;
                }
            }
        }


        .reservation {
            .p {
                p {
                    span {
                        font-weight: bold;
                    }
                }
            }
        }

        .clock {
            .p {
                width: 200px;
            }
        }

        .iconef {
            .p {
                .icones {
                    gap: 20px;

                    i {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 76px;
                        height: 60px;
                        border-radius: 60px;
                        font-size: 30px;
                        border: 1px solid gray;
                    }
                }
            }
        }

    }

    .bottom_ {
        width: 80vw;
        height: 1px;
        border: 1px solid gray;
    }

    .copyright {
        font-size: 24px;
        color: #aba8ac;

        p {
            font-size: 24px;
        }
    }
}

//?  mobile footer ////////////////////////////////////////////
@media (min-width:375px) and (max-width:426px) {

    .footer {

        width: 100vw;
        height: 120vh;
        background-color: #e4dcf4;
        background-color: #201f24;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -0px;

        .footer-all {
            display: flex;
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0px;

            .adresse {
                display: flex;
                gap: 10px;

                .ligne1 {

                    i {
                        font-size: 18px;
                        color: #aba8ac;
                    }
                }

                .p {
                    margin-bottom: -40px;
                    display: flex;
                    flex-direction: column;
                    width: 280px;
                    height: 160px;
                    font-size: 13px;
                    color: #aba8ac;
                    font-weight: 600;

                    h5 {
                        font-size: 14px;
                        color: white;
                        font-weight: bold;
                    }
                }
            }


            .reservation {
                .p {
                    p {
                        span {
                            font-weight: bold;
                        }
                    }
                }
            }

            .clock {
                .p {
                    width: 280px;
                }
            }

            .iconef {
                .p {
                    width: 280px;

                    .icones {
                        gap: 16px;

                        i {
                            width: 56px;
                            height: 56px;
                            border-radius: 60px;
                            font-size: 23px;
                            border: 1px solid gray;
                        }
                    }
                }
            }

        }

        .bottom_ {
            width: 80vw;
            height: 1px;
            border: 1px solid gray;
            margin-top: -50px;
        }

        .copyright {
            font-size: 14px;
            color: #aba8ac;
            display: flex;

            p {
                font-size: 14px;
            }
        }
    }
}

//& tablet footer ////////////////////////////////////////////////////
@media (min-width:766px) and (max-width:900px) {
    .footer {

        width: 100vw;
        height: 60vh;
        background-color: #e4dcf4;
        background-color: #201f24;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .footer-all {
            width: 98%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 0px;

            .adresse {
                display: flex;
                gap: 10px;
                ;
                width: 375px;
                flex-wrap: wrap;

                .ligne1 {

                    i {
                        font-size: 24px;
                        color: #aba8ac;
                    }
                }

                .p {
                    margin-bottom: -40px;
                    display: flex;
                    flex-direction: column;
                    width: 280px;
                    height: 160px;
                    font-size: 16px;
                    color: #aba8ac;
                    font-weight: 600;

                    h5 {
                        font-size: 20px;
                        color: white;
                        font-weight: bold;
                    }
                }
            }


            .reservation {
                .p {
                    p {
                        span {
                            font-weight: bold;
                        }
                    }
                }
            }

            .clock {
                i {
                    padding-left: 9px;
                }

                .p {
                    width: 280px;
                }
            }

            .iconef {
                .p {
                    width: 280px;

                    .icones {
                        gap: 16px;

                        i {
                            width: 56px;
                            height: 56px;
                            border-radius: 60px;
                            font-size: 23px;
                            border: 1px solid gray;
                        }
                    }
                }
            }

        }

        .bottom_ {
            width: 80vw;
            height: 1px;
            border: 1px solid gray;
            margin-top: 0px;

            .copyright {
                font-size: 10px;
                color: #aba8ac;
                display: flex;

                .copy {
                    margin-top: 30px;
                }

                p {
                    font-size: 12px;
                    top: 0;
                }
            }
        }


    }
}